<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<springProfile name="dev,sit,uat,prod">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="sit,uat,prod">
		<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 支持多JVM同时操作同一个日志文件 -->
			<prudent>true</prudent>
			<!-- 按天来回滚，如果需要按小时来回滚，则设置为{yyyy-MM-dd_HH} -->
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>/home/appsvr/logs/octopus-task/logfile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
				<!-- 如果按天来回滚，则最大保存时间为1天，1天之前的都将被清理掉 -->
				<maxHistory>30</maxHistory>
				<!-- 按时间回滚的同时，按文件大小来回滚 -->
				<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
					<maxFileSize>100MB</maxFileSize>
				</timeBasedFileNamingAndTriggeringPolicy>
				<totalSizeCap>1GB</totalSizeCap>
			</rollingPolicy>
			<!-- 日志输出格式 -->
			<layout class="ch.qos.logback.classic.PatternLayout">
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</Pattern>
			</layout>
		</appender>
		<root level="INFO">
			<appender-ref ref="fileAppender" />
		</root>
	</springProfile>

</configuration>
